.devices-control{
	position:relative;
	margin-left:2em;
	white-space: nowrap;
}

.devices-control::before
{
    content: 'Its 100% Free';
    white-space: nowrap;
    position: absolute;
    background-color: #f5c506;
    border-radius: 50%;
    font-size:18px;
	font-weight:bold;
    color: white;
    height: 6em;
    width: 6em;
    box-sizing: border-box;
    padding-top: 2.5em;
    text-align: center;
    top: -38px;
    left: -2em;
    z-index: 1;
}

.devices-control__item {
	/*float:left;*/
	display:inline-block;
	padding-right:28px;
	position:relative;
}

.devices-control__item:last-child{
	padding-right:0px;
}

.devices-control__item--monitor {

}

.devices-control__item--tablet {
	top:-40px;
}

.devices-control__item--phone {
	top:-40px;
}

@media only screen and (max-width: 940px)
{
	.devices-control {
		padding-right:30px;
		
	}
}

@media only screen and (max-width: 640px)
{
	.devices-control:before
	{
		font-size:12px;
	}
}

