.devices-control{
	position:relative;
	margin-left:2em;
	white-space: nowrap;
}

.devices-control::before
{
	font-family: 'Segoe WP Bold', Helvetica, sans-serif;
    content: 'Its 100% Free';
    white-space: nowrap;
    position: absolute;
    background-color: #f5c506;
    border-radius: 50%;
    font-size:18px;
    color: white;
    height: 6.3em;
    width: 6.3em;
    box-sizing: border-box;
    padding-top: 2.5em;
    text-align: center;
    top: -38px;
    left: -2em;
    z-index: 1;
}

@media only screen and (max-width: 940px)
{
	.devices-control {
		padding-right:30px;
	}
}

@media only screen and (max-width: 580px)
{
	.devices-control:before
	{
		font-size:12px;
	}
}

