@charset "utf-8";
/* CSS Document */

.devices-menu {
	padding-left: 35px;
}

.devices-menu li {
    color: #a9a9a7;
    font-size: 22px;
    padding: 8px 0px 8px 38px;
    position: relative;
}

.devices-menu li:before {
    content: "•";
    color: #f5c506;
    font-size: 55px;
    position: absolute;
    line-height: 22px;
	left:0px;
}

