@charset "utf-8";
/* CSS Document */


.devices-container-wrap {
	overflow:hidden;
	background-image:url(../images/devices-container-bg.png);
	box-shadow: inset 0px -10px 15px -10px #000;	
}

.devices-title {
	color:#f5c506;
	text-transform:uppercase;
	text-align:center;
	margin:50px 0px;
	font-size:43px;
	font-family: 'Segoe WP', Helvetica, sans-serif;
}

.devices-container {
	display:table;
	width:100%;
	margin-bottom:100px;
}

.devices-container__item {
	display:table-cell;
	vertical-align:top;
}

.devices-container__item--devices {
	padding-right:80px;
}

.devices-container__item--menu {

}

@media only screen and (max-width: 940px)
{
	.devices-container {
		text-align:center;
	}
	
	.devices-container__item--devices {
		display: inline-block;
		padding-right:0px;
	}
	
	.devices-container__item--menu {
		display:none;
	}
}

@media only screen and (max-width: 640px)
{
	.devices-title {
		font-size:20px;
		margin-top:20px;
	}
	
	.devices-container {
		text-align:center;
		margin-bottom:30px;
	}
}