@charset "utf-8";
/* CSS Document */

.footer-container {
	background-image:url(../images/footer-container-bg.png);
	padding-bottom:100px;
	box-shadow: inset 0px -10px 15px -10px #000;	
}

.footer-title {
	color:#f5c506;
	text-transform:uppercase;
	font: 43px 'Segoe WP', Helvetica, sans-serif;
	text-align:center;	
}

.footer-title--padding {
	padding:50px 0px;
}