@charset "utf-8";
/* CSS Document */

.header-container {
	background-image:url(../images/header-bg.jpg);
	padding:28px 0px;
	box-sizing:border-box;
}

.header-container-table {
	width:100%;
	display:table;
	max-width:1000px;
	margin:0px auto;
}

.header-container-table__row {
	display:table-row;
}

.header-container-table__row__cell {
	display:table-cell;
	
}

.header-container-table__row__cell--logo {
	
}

.header-container-table__row__cell--menu {
	text-align:right;
}

.header-container-table__row--video .header-container-table__row__cell {
	vertical-align:middle;
	text-align:center;
	padding-top:28px;
}

.header-container-table__row--video .header-container-table__row__cell:last-child {
	text-align:right;
}

@media only screen and (max-width: 940px)
{
	.header-container {
		padding:0px;
	}
	
	.header-container-table__row {
		display: table;
    	width: 100%;	
	}
	
	.header-container-table__row--video .header-container-table__row__cell {
		padding-top:0px;
	}
	
	.header-container-table__row--video .header-container-table__row__cell:last-child{
		display:none;
	}
	
	.header-container-table__row__cell--logo {
		background-color:#585858;
	}
	
	.header-container-table__row__cell--menu {
		background-color:#f5c506;
	}
}