@charset "utf-8";
/* CSS Document */

.header-container-wrap {
	background-image:url(../images/header-bg.jpg);
	padding:28px 0px;
	box-shadow: inset 0px -12px 14px -12px #000;
	background-position: center center;
    background-size: cover;
}

.header-container-item
{
	display:table;
	width:100%;
	
}

.header-container-item-cell
{
	display:table-cell;
}

.header-container-item--top .header-container-item-cell {
	vertical-align:middle;	
}

.header-container-item .header-container-item-cell--menu {
	text-align:right;
}

.header-container-item--bottom {
	margin-top:28px;
}

.header-container-item .header-container-item-cell--video {

	width:556px;
	height:326px;
}

.header-container-item .header-container-item-cell--title {
	vertical-align:middle;
	text-align:right;
}

/*.header-container__row--video .header-container__row__cell:last-child {
	text-align:right;
}*/

@media only screen and (max-width: 940px)
{
	.header-container-wrap {
		padding:0px;
		box-shadow:none;
	}
	
	/*.header-container__row {
		display: table;
    	width: 100%;
	}*/
	
	.header-container-item--bottom {
		margin-top:0px;
	}
	
	.header-container-item-cell--title {
		display:none;
	}
	
	.header-container-item-cell--logo {
		background-color:#585858;
		width:100%;
	}
}