@charset "utf-8";
/* CSS Document */

.icon-control {
	white-space:nowrap;
	text-align:center;
	text-transform:uppercase;
	font: 27px 'Segoe WP', Helvetica, sans-serif;
	background: 50% 0px no-repeat;
}
.icon-control div {
	margin-bottom:15px;
}

.icon-control img {
	height:100%;
}

@media only screen and (max-width: 940px)
{
	.icon-control {
		font-size:23px;
	}
	
	.icon-control div {
		height:50px;	
	}
}

/*.icon-control--design {
	background-image:
}

.icon-control--customize {
	background-image:
}

.icon-control--free {
	background-image:
}*/
