@charset "utf-8";
/* CSS Document */

.icon-control {
	white-space:nowrap;
	text-align:center;
	text-transform:uppercase;
	font: 27px 'Segoe WP', Helvetica, sans-serif;
	background: 50% 0px no-repeat;
}

.icon-control .icon-font:before {
	color:#ffcc00;
	font-size:3.2em;
	
}

@media only screen and (max-width: 940px)
{
	.icon-control {
		font-size:23px;
	}
}

/*.icon-control--design {
	background-image:
}

.icon-control--customize {
	background-image:
}

.icon-control--free {
	background-image:
}*/
