@charset "utf-8";

@import url(header-container.css);
@import url(main-menu.css);
@import url(main-logo.css);
@import url(video-title.css);
@import url(video-player.css);

@import url(icon-container.css);
@import url(icon-control.css);

@import url(presentation-container.css);
@import url(presentation-title.css);
@import url(presentation-video-container.css);
@import url(video-player-description.css);

@import url(devices-container.css);
@import url(devices-control.css);
@import url(devices-menu.css);
@import url(footer-logo-container.css);

@import url(plus-reference.css);
@import url(icomoon.css);

@font-face {
	font-family: 'Segoe WP';
	src: url('../fonts/SegoeWP.ttf');
	src: local('SegoeWP'), url('../fonts/SegoeWP.ttf') format('truetype');
}

a {
	cursor:pointer;
}

.clear-fix::after {
	content:'';
	display:block;
	clear:both;
}

.base-container {
	margin:0px auto;
	min-width:320px;
}

.base-container-wrap {
	max-width:1000px;
	margin:0px auto;
	padding:0px 20px;
}

@media only screen and (max-width: 940px)
{
	.base-container-wrap {
		padding:0px;
	}
}






