@charset "utf-8";
/* CSS Document */

.main-menu--shadow {
	margin:8px 0px 0px 8px; 
	-webkit-box-shadow: -4px -4px 0px 0px rgba(245,197,6,0.48), -8px -8px 0px 0px rgba(245,197,6,0.48);
	-moz-box-shadow: -4px -4px 0px 0px rgba(245,197,6,0.48), -8px -8px 0px 0px rgba(245,197,6,0.48);
	box-shadow: -4px -4px 0px 0px rgba(245,197,6,0.48), -8px -8px 0px 0px rgba(245,197,6,0.48);
}

.main-menu {
	display:inline-table;
	background-color:#f5c506;
}

.main-menu__item {
	display:table-cell;
	vertical-align:middle;
	white-space:nowrap;
	border-right:1px solid #dcb105;
	color:#cc9900;
	padding:12px 20px 12px 0px;
}

.main-menu__item a {
    cursor: pointer;
	font: bold 17px 'Segoe WP', Helvetica, sans-serif;
	text-transform:uppercase;
}

.main-menu__item div:before
{
	padding: 0px 10px;
    font-size: 20px;
    /* line-height: 0px; */
    position: relative;
    top: 2px;
}

.main-menu__item:hover {
	background-color:#ec9e03;
}

.main-menu__item:last-child{
	border-right: none;
}

.no-svg .main-menu__item div:before
{
	display:none;
}

.no-svg .main-menu__item div
{
	background-repeat:no-repeat;
	background-position:12px 50%;
	padding-left:40px;
}

.no-svg .main-menu__item .icon-font-letter {
	background-image:url(../images/icon-letter.png);
}

.no-svg .main-menu__item .icon-font-service {
	background-image:url(../images/icon-service.png);
}

.no-svg .main-menu__item .icon-font-person {
	background-image:url(../images/icon-person.png);
}

/*.link--aboutus a {
	background-image:url(../images/main-menu-item-aboutus.png);
}

.link--services a {
	background-image:url(../images/main-menu-item-services.png);
}

.link--contacts a {
	background-image:url(../images/main-menu-item-contacts.png);
}*/

@media only screen and (max-width: 940px)
{
	.main-menu {
		height:100%;
	}
	
	.main-menu__item{
		font-size:19px;
		padding-right: 10px;
	}
	
	.main-menu--shadow{
		margin:0px; 
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;	
	}
}

