@charset "utf-8";
/* CSS Document */

.main-title {
	text-transform:uppercase;
	text-align:center;
	display:inline-block;
	font: 63px 'Segoe WP', Helvetica, sans-serif;
	color:white;
}

.main-title__subtitle {
	color:#f5c506;
}