@charset "utf-8";
/* CSS Document */

.presentation-container-wrap {
	background-image:url(../images/presentation-container-bg.png);
	min-height:510px;
	box-shadow: inset 0px 12px 14px -14px #000
}

@media only screen and (max-width: 940px)
{
	.presentation-container-wrap {
		background-image:none;
		min-height:inherit;
		box-shadow:none;
	}
}