.icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(sprite.svg);
}
.icon-letter {
	width: 43px;
	height: 32px;
	background-position: 0 0;
}
.icon-person {
	width: 35px;
	height: 32px;
	background-position: -48px 0;
}
.icon-services {
	width: 32px;
	height: 32px;
	background-position: -96px 0;
}
.icon-twitter {
	width: 39px;
	height: 32px;
	background-position: -144px 0;
}
