.video-player {
	position:relative;
	background-color:black;
	height:100%;
}

.video-player--pause {
}

.video-player .play-button-large {
	position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -0.5em;
    margin-top: -0.5em;
    cursor: pointer;
    font-size: 5em;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
}

.video-player .play-button-large,
.video-player .play-button-large span,
.video-player .play-button-large path1:before,
.video-player .play-button-large path2:before {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.video-player.video-player--pause .play-button-large {
	
	font-size:0em;
	opacity:0;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
}



