@charset "utf-8";
/* CSS Document */

.video-palyer-description {
	display:table;
}

.video-palyer-description__item {
	display:table-cell;
	vertical-align:top;
}

.video-palyer-description__item--description {
	font-family:'Segoe WP', Helvetica, sans-serif;
	color:white;
	font-size:29px;
	background-color:#ec9e03;
}

.video-palyer-description__item--description div {
	max-height:232px;
	padding:20px 30px;
	box-sizing:border-box;
}

.video-palyer-description__item--player {
	vertical-align:middle;
}

@media only screen and (max-width: 940px)
{
	.video-palyer-description__item--description {
		font-size:26px;
	}
}

@media only screen and (max-width: 640px)
{
	.video-palyer-description__item--description {
		font-size:14px;
	}
	
	.video-palyer-description__item--description div {
		padding:10px;
	}
	
	.video-palyer-description__item--player img {
		height:100px;
	}
}