.video-player {
	position:relative;
	background-color:black;
	height:100%;
}

.video-player .play-button-large {
	position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -0.5em;
    margin-top: -0.5em;
    cursor: pointer;
    font-size: 5em;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	color: rgb(255, 205, 5);
	color: rgba(255, 205, 5, 0.5);
}


.video-player.video-player--play .play-button-large {
	font-size:0em;
	opacity:0;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
}

.video-panel {
	height:50px;
	position:absolute;
	bottom:0px;
	width:100%;
	display:none;
}

.video-player.video-player--play .video-panel{
	display:block;
}

.video-panel .column{
	vertical-align:middle;
	color: rgb(255, 205, 5);
	color: rgba(255, 205, 5, 0.8);
}

.play-button-small {
	margin:0px 4px 0px 6px;
	cursor:pointer;
	font-size:1.8em;
}

.video-volume {
	font-size: 1.8em;
    margin-left: 17px;
	cursor:pointer;
}

.video-progress {
	width:100%;
}

.video-progress-bar {
	width:0%;
	height:1em;
	background-color: rgb(255, 205, 5);
	background-color: rgba(255, 205, 5, 0.8);
}