/* Generic classes */
@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/myriadpro-regular.otf');
    font-weight: normal;
    font-style: normal;
}

body
{
	font: 14px MyriadPro, Arial, Helvetica, sans-serif;
	margin:0px;
}

ul
{
	list-style-type: none;
	padding:0px;
	margin:0px;
}

a
{
	cursor:pointer;
}

.button
{
	display:inline-block;
	text-decoration:none;
	border-radius:5px;
	color:white;
	font-size:13px;
	font-weight:bold;
	background-color:#637f83;
	padding:8px 15px;	
	white-space:nowrap;
}

.button.button-orange
{
	background-color:#e4551d;
}

/* Layout classes */

.container-1500
{
	max-width:1500px;
	min-width:480px;
	margin: 0 auto;
}

.container-1500 > div
{
	margin-right:auto;
	margin-left:auto;
}

.container-1000
{
	max-width:1000px;
	margin:0px auto;
}

.header-container
{
	overflow:hidden;
	padding: 12px 0px 20px 0px;
}

.header-sitename
{
	padding-left:10px;
    margin-top:8px;
    color: #637f83;
    font-size: 18pt;
    font-weight: bold;
    display: inline-block;
}

.header-menu
{
	float:right;
	background-color:white;
}

@media only screen and (max-width: 520px) {
    .header-menu {
        float:none;
    }
}

.header-menu li
{
	display: inline-block;
}

.header-menu li a
{
    text-decoration: none;
    padding: 15px 10px 0px 10px;
    display: inline-block;
    color: #637f83;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px
}

.header-menu li a:hover
{
	color: #e4551d;
	background:url(../images/head-menui-tem-bg.png) 50% 0px no-repeat
}

.banner-container
{
	overflow: hidden;
    height: 350px;
    text-align: center;
    background-color: #46707c;
    padding-top: 60px;
    color: white;
    background-image: url(../images/banner-bg.jpg);
    background-size: cover;
    box-sizing: border-box;
}

.banner-container > div
{
	margin-bottom:30px;
}

.banner-container .banner-container-title
{
	font-size:23pt;
	text-decoration:underline;
}

.banner-container .banner-container-text
{
	font-size:1em;
	text-transform: uppercase;
}

.banner-container .banner-container-nav
{
	margin: 0 auto;
	border-radius:50px;
	height:50px;
	width:50px;
	background: url(../images/banner-nav-down.png) no-repeat 50% 50% #e4551d;
	display:block;
}

.maintitle-container
{
	overflow:hidden;
	color:#acb9bb;
	text-align:center;
	padding:25px 0px;
}

.maintitle-container .maintitle-container-title
{
	color:#637f83;
	font-size: 18pt;
	font-weight:bold;	
}

.feature-container
{
	background-color:#f6f6f6;
	overflow:hidden;
	text-align:center;
}

.feature-container-table
{
	display:table;
}

.feature-container-table > div
{
	display:table-cell;
}

.feature-control
{
	padding:35px 15px;
    box-sizing: border-box;
    width: 250px;
    height: 200px;
    border-right: 1px solid #d5d5d5;
    text-align: center;
	color:#637f83;
}

.feature-control div
{
    margin: 25px 0px;
}

.feature-control .feature-control-title
{
	font-size:16px;
	font-weight:bold;
}

.feature-control:last-child
{
	border:none;	
}

.portfolio-container
{
	text-align:center;
	border-bottom: 1px solid #d9d9d9;
	padding-bottom:40px;
}

.portfolio-container .portfolio-container-block
{
	margin-top:40px;
}

.portfolio-nav-wrap
{
	position:relative;
	border-bottom: 1px solid #d9d9d9;
}

.portfolio-nav
{
	margin:0px auto;
    width: 80px;
	height: 20px;
    background-color: white;
	position:absolute;
	top: -10px;
	left:0px;
	right:0px;
}

.portfolio-nav a
{
	height:20px;
	width:20px;
	background-repeat:no-repeat;
	display:inline-block
}

.portfolio-nav a.right
{
	background-image:url(../images/portfolio-nav-right.png);
}

.portfolio-nav a.left
{
	background-image:url(../images/portfolio-nav-left.png);
}

.portfolio-img
{
	max-width:100%;
}

.face-container
{
	padding:20px 0px;
	color:#637f83;
	overflow:hidden;
}

.face-container > div
{
	float:left;
	box-sizing:border-box;
}

@media only screen and (max-width: 930px) {
    .face-container > div {
        float:none;
		width:auto;
    }
}

.face-control
{
	padding-right:10px;
	width:50%;
	margin:20px 0px;
	line-height: 19px;
	height:110px;
	overflow:hidden;
}

.face-control .face-control-photo
{
	float:left;
	height:100%;
	width:110px;
	margin-right: 15px;
	text-align: center;
    overflow: hidden;
	border-radius: 6px;
}

.face-control .face-control-title
{
	font-size:20px;
	font-weight:bold;
	margin-bottom:10px;
}

.face-control .face-control-more
{
	white-space:nowrap;
	color:#eb8e74;
	padding-left:5px;
}

.footer-container
{
	background-color:#637f83;
	color:white;
}

.footer-container > div
{
	margin-right:auto;
	margin-left:auto;
}

.footer-container .maintitle-container,
.footer-container .maintitle-container .maintitle-container-title
{
	color:white;
}

.footer-container .social-container
{
	background-color:white;
}

.designedby-container
{
	padding:30px 0px;
	text-align:center;
}

.subscribe-container
{
	overflow: hidden;
    padding: 25px 0px;
    border-top: 1px solid #597275;
}

.subscribe-container .subscribe-container-item
{
	float:left;
	width:50%;
	padding:10px;
	box-sizing:border-box;
}

@media only screen and (max-width: 800px) {
    .subscribe-container .subscribe-container-item {
        float:none;
		width:auto;
    }
}

.subscribe-container .subscribe-container-item .subscribe-control
{
	margin-bottom:13px;
}

.subscribe-container .subscribe-container-item .twitter-control
{
	height:50px;
}

.subscribe-control
{
	background:url(../images/subscribe-bg.png) no-repeat;
	min-height: 32px;
	padding-left:55px;
	font-size:12px;
}

.subscribe-control-title
{
	font-size:14px;
	font-weight:bold;
}

.signup-control
{
	display:table;
}

.signup-control .signup-control-block
{
	display:table-cell;
	vertical-align:middle;
}

.signup-control .signup-control-block:first-child
{
	width:100%;
	padding-right: 10px;
}

.signup-control-block .signup-control-input
{
	width:100%;
	background-color:#597275;
	border-radius:6px;
	border:none;
	height: 35px;
	box-sizing:border-box;
	color:white;
	padding: 0px 8px;
}

.signup-control-block .button.signup-control-button
{
	background-color:#597275;
	color:white;
	padding:10px;
}

.twitter-control
{
	border-radius:6px;
    background: url(../images/twitter-bg.png) no-repeat 15px 50% #597275;
    padding: 15px 15px 15px 85px;
    font-size: 12px;
    color: #b5c7c9;
}

.social-container
{
	padding:25px 0px;
	overflow:hidden;	
}

.social-container .social-container-item
{
	width:33%;
	float:left;
	height:70px;
}
@media only screen and (max-width: 930px) {
    .social-container .social-container-item {
        float:none;
		width:auto;
		margin-bottom: 10px;
    }
}

.social-control
{
	padding-left:70px;
	color:#637f83;
	font-size:10pt;
	overflow:hidden;
}

.social-control-title
{
	font-size:12pt;
	font-weight:bold;
	white-space: nowrap;
	margin-top:16px;
}

.social-control-icon
{
	float:left;
	height:70px;
	width:70px;
	border-radius:70px;
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-color:#e4551d;
	margin-right: 10px;
}

.social-control-facebook
{
	background-image:url(../images/social-facebook.png);
}

.social-control-google
{
	background-image:url(../images/social-google.png);
	background-position-y: 23px;
}

.social-control-linkedin
{
	background-image:url(../images/social-linkedin.png);
	background-position-y: 19px;
}









